.tableWrapper{
    margin: 0px 15px;
    margin-top: 120px;
    display: block;
    overflow-x:auto;
}
.divTable {
    display: table;
}

.divTableBody {
  display: block;
}

.divTableRow {
    display: flex;
}

.divTableHeading {
    background-color: #EEE;
    display: table-header-group;
}

.divTableCell,
.divTableHead {
    border: 1px solid #999999;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 3px;
    position: relative;
    user-select: none;
}

.divTableHeading {
    background-color: #EEE;
    display: table-header-group;
    font-weight: bold;
}

.divTableFoot {
    background-color: #EEE;
    display: table-footer-group;
    font-weight: bold;
}


.divTableHead span.ui-column-resizer {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    width: 8px;
    height: 100%;
    padding: 0;
    cursor: e-resize;
    border: 1px solid transparent;
}

.divTableRow:nth-child(even) {
    background-color: #E0EBEF!important;
}

.table-body {
    max-height: 300px;
    overflow-y: scroll;
}