<div class="tableWrapper">
  <div class="divTable">
    <div class="divTableBody">
        <div class="divTableRow table-header">
          <div class="divTableHead" *ngFor="let heading of tableHeadingNames; let i=index; " [style.minWidth.px]="columnWidth[i]" [style.maxWidth.px]="columnWidth[i]">
            <span (click)="sortBy(heading,'asc',i)" style="cursor: pointer;" *ngIf="sortOrder[i]==true">&#x23f7;</span>
            <span (click)="sortBy(heading,'des',i)" style="cursor: pointer;" *ngIf="sortOrder[i]==false">&#x23f6;</span>
            <span>{{ heading }}</span>
            <span class="ui-column-resizer" (mousedown)="onMouseDown($event)"></span>
          </div>
        </div>
        <div class="table-body" infiniteScroll
		    [infiniteScrollDistance]="2"
		    [infiniteScrollThrottle]="500"
        (scrolled)="handleScroll()"
        [scrollWindow]="false">
        <div class="divTableRow" *ngFor="let data of _tableData">
          <div class="divTableCell" *ngFor="let heading of tableHeadingNames; let i=index;" [style.minWidth.px]="columnWidth[i]" [style.maxWidth.px]="columnWidth[i]">{{data[heading]}}</div>
        </div>
        </div>
    </div>
  </div>
</div>
<p *ngIf="_tableData">Total Results : {{_tableData.length}}</p>