.filter {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid #00a6ff;
    border-left: none;
    border-right: none;
    border-top: none;
    padding: 5px;
    margin: 30px 0;
  }
  
  .tag-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .tag {
    background: #BBDEFB;
    padding: 2px 5px;
    border-radius: 10px;
    margin-right: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .tag > .key {
    font-weight: normal;
  }
  
  .tag > .close-btn {
    width: 14px;
    height: 14px;
    font-size: 14px;
    line-height: 12px !important;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    color: white;
    padding: 0;
    margin: 0 2px;
    cursor: pointer;
  }

  .tag > input{
    max-width: 75px;
  }
  
  .search-box {
    border: none;
    outline: none;
    width: 100%;
    background-color: transparent;
  }
  
  .suggestion-box {
    position: absolute;
    top: 16px;
    list-style-type: none;
    padding: 0;
    background: #424242;
    width: 20%;
    border-radius: 5px;
    z-index: 999;
  }
  
  .suggestion-box > li {
    text-align: left;
    color: white;
    cursor: pointer;
    padding: 3px 15px;
    font-size: 17px;
  }
  
  .suggestion-box > li:hover {
    color: orange;
  }